name: API Automation

on:
  push:
    branches:
      - sm-dev
  pull_request:
    branches:
      - main
  schedule:
    - cron: '30 16 * * *'   # Nightly regression (14:00 UTC)

jobs:

  smoke-tests:
    if: github.event_name == 'push' || github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Newman
        run: npm install -g newman

      - name: Run Smoke Tests (with Retry)
        run: |
          newman run "https://api.getpostman.com/collections/45236363-e707068e-ba6a-49f6-8050-0e03bb9a1e42?apikey=${{ secrets.POSTMAN_API_KEY }}" \
          --folder "Smoke" \
          --reporters cli,junit \
          --reporter-junit-export smoke-results.xml \
          --delay-request 200 || \
          newman run "https://api.getpostman.com/collections/45236363-e707068e-ba6a-49f6-8050-0e03bb9a1e42?apikey=${{ secrets.POSTMAN_API_KEY }}" \
          --folder "Smoke" \
          --reporters cli,junit \
          --reporter-junit-export smoke-results.xml \
          --delay-request 200

      - name: Upload Smoke Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: smoke-report
          path: smoke-results.xml


  regression-tests:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Newman
        run: npm install -g newman

      - name: Run Full Regression (with Retry)
        run: |
          newman run "https://api.getpostman.com/collections/45236363-e707068e-ba6a-49f6-8050-0e03bb9a1e42?apikey=${{ secrets.POSTMAN_API_KEY }}" \
          --reporters cli,junit \
          --reporter-junit-export regression-results.xml \
          --delay-request 200 || \
          newman run "https://api.getpostman.com/collections/45236363-e707068e-ba6a-49f6-8050-0e03bb9a1e42?apikey=${{ secrets.POSTMAN_API_KEY }}" \
          --reporters cli,junit \
          --reporter-junit-export regression-results.xml \
          --delay-request 200

      - name: Upload Regression Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: regression-report
          path: regression-results.xml
