name: API Automation

on:
  push:
    branches:
      - sm-dev
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 14 * * *'   # Nightly regression (14:00 UTC)

jobs:

  smoke-tests:
    if: github.event_name == 'push' || github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Postman CLI
        run: curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh

      - name: Login to Postman
        run: postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }}

      - name: Run Smoke Tests (with Retry)
        run: |
          postman collection run "45236363-e707068e-ba6a-49f6-8050-0e03bb9a1e42" \
          --folder "Smoke" \
          --retry 2 \
          --retry-delay 5000 \
          --reporters cli,junit \
          --reporter-junit-export smoke-results.xml \
          --bail false

      - name: Upload Smoke Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: smoke-report
          path: smoke-results.xml


  regression-tests:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Postman CLI
        run: curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh

      - name: Login to Postman
        run: postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }}

      - name: Run Full Regression (with Retry)
        run: |
          postman collection run "45236363-e707068e-ba6a-49f6-8050-0e03bb9a1e42" \
          --retry 2 \
          --retry-delay 5000 \
          --reporters cli,junit \
          --reporter-junit-export regression-results.xml \
          --bail false

      - name: Upload Regression Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: regression-report
          path: regression-results.xml
